extends layout

block content
	h1 Din registrering har skickats
	p Administratör måste godkänna dig först
	p Ditt namn är:#{user.name}
	p Ditt anställningsnummer är:#{user['id-number']}
	p Din email är:#{user.email}
	p Din yrkesroll är:#{user.role}
	p Ditt lösenord är:#{user.password}