extends layout
block content
   .container
      h2(class="klar") Bokningen 채r klar
      p Du har bokat fordon med registreringsnummer #{registration} fr책n #{start} till #{end}. Nycklarna till din #{model} finns att h채mta ut i receptionen fr책n klockan 07.00 #{start}. 
