if tooMany
	h4 Maxgränsen för en bokning är sju dagar.
else
	form(action="/confirmation" method="post" id="list")
		p Du har #{carArray.length} bilar att välja på.
		table(border='1')
			thead
				tr
					th Fordon
					th Reg.nr
					th Växellåda
					th Drivmedel
					//- th Besiktigad
					//- th Service
					th Fordonstyp
					th Boka
				each item, index in carArray	
					tr
						td= item.model
						td= item.registration
						td= item.gearbox
						td= item.fuel
						//- td= item.inspected
						//- td= item.service
						td= item.type
						td
							input(type="radio" name="book" value="#{item.registration},#{item.model},#{allDays}" required) 
		p Privatlån
			input(type="checkbox" name="privatlan" value="lan") 					
		input(type="submit" class="btn btn-primary btn-block" value="Boka")
